@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: rgb(75 85 99 / var(--tw-bg-opacity, 1));
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}
